#table-project-container {
    margin: 0px 10px 0px 10px;
}

#search-project-container {
    margin-bottom: 20px;
}

#new-pj-button {
    margin-right: 20px;
}

.search-button {
    margin-top: 100px;
}